body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #93cde3, #b3def4);
    margin: 0;
    padding: 0;
}

#historyTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#historyTable th, #historyTable td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

#historyTable th {
  background-color: #90c9eb;
  font-weight: bold;
}

#historyForm {
  margin-top: 20px;
}

#historyForm h3 {
  margin-bottom: 10px;
  text-align: center;
}

select {
  width: 50%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 8px;
  font-size: 1rem;
}

.navigation a{
    position:relative;
    font-size: 20px;
    color: rgb(0, 67, 184);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: underline;
}
.logo{
    width: 120px;
    cursor: pointer;
}
header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    padding:0px 100px;
    background: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
*{
    font-family:"Times New Roman",Cambria,Georgia, Times, serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.paget{
    margin-top: 150px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.description{
    text-align: center;
}

.btn2{
    display: block;
    width: 10%;
    margin: 30px left;
    padding: 12px;
    background-color: #90c9eb; 
    color: black;   
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
}

.btn2:hover {
    background-color: #35749e
}

